# Node.js specific
node_modules/
npm-debug.log

# Environment variables
.env

# Other common build artifacts
/build
/dist
/logs
*.log
.DS_Store # macOS specific
.vscode/ # Optional: If you don't want to share editor specific settings